body {
    background-color: rgb(241, 241, 241) !important;
    color: rgb(59, 59, 59) !important;
    padding-bottom: 20px;
}

.navbar {
    background-color: rgb(29, 29, 29) !important;
}

.table-value {
    font-family: 'Menlo', monospace;
    padding-top: .8em !important;
    font-size: .85em;
}

.form-select {
    max-width: 130px;
    background-color: rgb(221, 221, 221) !important;
    border: 1px solid #cbcbcbc1 !important;
    height: 28px;
    color: rgb(43, 43, 43) !important;
    font-size: .7em !important;
    padding-top: .4em !important;
    margin-top: 4px;
    box-shadow: none;
    filter: invert();
}

.form-select:focus {
    box-shadow: none !important;
}

.no-break {
    white-space: nowrap;
}

.blue-hover {
    background-color: transparent;
    color: inherit;
}

.red_accent {
    color: red !important;
}

.grafic_container {
    width: 100%;
    background-color: rgb(214, 214, 214);
    background-image: url(../img/header_img-5.jpg);
    background-size: cover;
    background-position: bottom;
}

.grafic-setmana {
    margin: auto;
    height: 170px;
    display: flex;
    text-align: center;
    font-size: .6em;
    max-width: 600px;
    color: white;
    font-weight: 500;
    padding-bottom: 20px;
}

.dia {
    width: 14.28%;
    display: block;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center 24px;
    background-color: transparent;
    height: 170px;
    padding-top: 1em;
    line-height: .625em;
}

@media(hover: hover) {
    .blue-hover:hover {
        background-color: rgba(103, 164, 255, 0.191);
        color: rgb(4, 110, 196);
    }
}


.sun {
    background-image: url(../img/logo-sunny.png);
    background-color: #ffcc0085;

}

.part_cloud {
    background-image: url(../img/logo-part-cloud.png);
    background-color: #79b8e886;
}

.cloud {
    background-image: url(../img/logo-cloud.png);
    background-color: #cccccc92;
}

.light-rain {
    background-image: url(../img/logo-rain.png);
    background-color: rgba(13, 141, 210, 0.479);
}

.rain {
    background-image: url(../img/logo-rain-strong.png);
    background-color: #0057868e;
}

.storm {
    background-image: url(../img/logo-storm.png);
    background-color: rgba(50, 72, 83, 0.578);
}

.hail {
    background-image: url(../img/logo-snow.png);
    background-color: #8ab2d1bf;
}

.snow {
    background-image: url(../img/logo-snowing.png);
    background-color: rgba(202, 202, 202, 0.649);
}

.fog {
    background-image: url(../img/logo-fog.png);
    background-color: #a8a8a89f;
}

.night {
    background-image: url(../img/logo-night.png);
    background-color: #09192695;
}

.explain_card {
    position: fixed;
    display: block;
    width: 100%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.93);
    bottom: 0;
    text-align: center;
    font-size: .9em;
}

.info_text {
    max-width: 800px !important;
    display: block;
    margin: auto;
}


.info-visible {
    display: block;
}

.info-hidden {
    display: none;
}

.footer {
    text-align: center;
    padding-top: 50px;
    width: 100%;
    display: block;
    font-size: .6em;
}