body {
    background-color: rgb(241, 241, 241) !important;
    color: rgb(35, 35, 35) !important;
}

.table-value {
    font-family: 'Menlo', monospace;
    padding-top: .8em !important;
    font-size: .85em;
}

.no-break {
    white-space: nowrap;
}

tr {
    background-color: transparent;
    color: inherit;
}

@media(hover: hover) {
    tr:hover {
        background-color: rgba(103, 164, 255, 0.191);
        color: rgb(4, 110, 196);
    }
}

.red_accent {
    color: red !important;
}